# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea

jextract.tar.gz
jextract-*
logo*
includes.txt
includes_filtered.txt
hs_err*

sample_run
.kotlin
sample_output*
